/*
 * App Custom App variables SCSS
 * ----------------------------------------------------------------------------
 * Place here all custom app variables.
 */

$blue_utb: #093ad3;
$brand-color: #7aeac4;
$medium: #045e5e;
$medium_2: #00fffd;
