/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
:root, :root.dark {
    --core-header-toolbar-background: #{$blue_utb};
    --core-header-toolbar-color: white;

    --core-bottom-tabs-background: #{$blue_utb};
    --core-bottom-tabs-color: #{$medium_2};
    --core-bottom-tabs-color-selected: white;
}

/*
 * Dark Theme
 * -------------------------------------------
 */
:root.dark {
    --medium: #{$medium_2};
    /*--core-header-toolbar-background: #{$blue_utb};
    --core-header-toolbar-color: #ffffff;

    --core-bottom-tabs-background: #{$blue_utb};
    --core-bottom-tabs-color: $medium_2;
    --core-bottom-tabs-color-selected: #ffffff;*/
}
